body {
  background-color: #e5e8eb;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
h2 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  display: block;
  font-family:'Varela Round', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
h4 {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
h5 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Varela Round', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Varela Round', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
p {
  margin-bottom: 5px;
}
a {
  display: inline;
  margin-right: 6px;
  font-family: Lato, sans-serif;
  color: #4db5ff;
  font-size: 13px;
  text-decoration: none;
}
.button {
  display: inline-block;
  margin-right: 10px;
  padding: 15px 22px;
  border-radius: 2px;
  background-color: #72b611;
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}
.button.nav-button {
  margin-top: 14px;
  padding: 6px 25px;
  border-radius: 3px;
  background-color: #72b611;
  box-shadow: #578c0d 0px 2px 0px 0px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.button.sign-in {
  width: 145px;
  margin-top: 10px;
  margin-right: 9px;
  margin-bottom: 10px;
  padding: 15px 44px;
  border-radius: 3px;
  background-color: #72b611;
  font-family: Lato, sans-serif;
  font-size: 17px;
}
.button.sign-in.light {
  border: 1px solid aliceblue;
  background-color: aliceblue;
  color: #999;
}
.button.hero-button {
  width: 169px;
  height: 51px;
  padding: 14px 8px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: none;
}
.button.white-button {
  width: 169px;
  height: 51px;
  padding: 14px 9px;
  background-color: #f7f7f7;
  color: #999;
  font-size: 14px;
  text-transform: none;
}
.navbar {
  margin-bottom: 8px;
  padding: 20px 0px 15px;
  border-bottom: 1px none #e5e8eb;
  background-color: transparent;
}
.navbar.whitebg {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-style: solid;
  background-color: white;
}
.nav-link {
  font-family: Lato, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}
.nav-link:focus {
  background-color: #ededed;
}
.nav-link.w--current {
  display: inline-block;
}
.nav-link.w--current:focus {
  background-color: transparent;
  color: #72b611;
}
.nav-link.whitebg {
  color: #333;
}
.brand {
  display: inline-block;
  padding-top: 8px;
}
.form-wrapper {
  display: inline-block;
}
.form-wrapper.login-form {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.div-block {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-section {
  display: block;
  padding: 25px;
  text-align: center;
}
.login {
  display: inline-block;
  width: 477px;
  padding: 25px 59px;
  border: 1px solid #e5e8eb;
  border-radius: 3px;
  background-color: white;
}
.text-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  padding: 25px 33px;
  border: 3px solid #e5e8eb;
  border-radius: 3px;
  font-family: Lato, sans-serif;
  font-size: 16px;
}
.text-link {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Lato, sans-serif;
  color: #065d7d;
  font-size: 15px;
  font-weight: 400;
}
.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 1px solid #e5e8eb;
  background-color: white;
}
.footer.home {
  position: static;
}
.smallfooter-links {
  display: inline-block;
  margin-right: 25px;
  font-family:'Varela Round', sans-serif;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}
.small-footer-block {
  margin-top: 19px;
  margin-bottom: 19px;
  padding-right: 19px;
  padding-left: 19px;
}
.content {
  height: 400px;
  background-color: #c7d92b;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-attachment: scroll;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  text-align: left;
}
.hero-text {
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 43px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 34px;
  font-weight: 300;
  text-transform: none;
}
.hero-div {
  display: block;
  width: 72%;
  padding-right: 37px;
  float: left;
  text-align: left;
}
._3-features {
  height: 152px;
  text-align: center;
}
._3-features-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.quote {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #e5e8eb;
  background-color: white;
  text-align: center;
}
.quote-text {
  margin-top: 20px;
  margin-bottom: 19px;
  color: #999;
  font-size: 26px;
  line-height: 37px;
  font-weight: 300;
  letter-spacing: 0px;
}
.online-ebook {
  padding: 25px 78px;
  border-top: 1px solid #e5e8eb;
  border-bottom: 1px none #e5e8eb;
  background-color: white;
}
.online-ebook.dark {
  border-top-style: solid;
  background-color: white;
}
.grey-heading {
  font-family: Lato, sans-serif;
  color: #999;
  font-weight: 300;
}
.grey-heading.white {
  border-style: none;
  background-color: transparent;
  color: white;
}
.text-block {
  display: inline-block;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.text-block.small {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
.text-block.white {
  border-style: none;
  background-color: transparent;
  color: white;
}
.row {
  margin-bottom: 20px;
}
.main-features {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 299px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 21px;
  border: 1px solid #e5e8eb;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #333;
  text-align: center;
}
.main-features:hover {
  border: 2px solid #4db5ff;
}
.main-features.green:hover {
  border-color: white;
}
.main-image {
  margin-bottom: 20px;
}
.first-images {
  margin-bottom: 10px;
}
.first-images.card {
  margin-top: 23px;
  margin-bottom: 27px;
}
.expanding {
  padding: 25px 78px;
  border-top: 1px solid #e5e8eb;
  background-color: #f5f9fc;
}
.white {
  border-radius: 3px;
  background-color: white;
  color: #999;
}
.mascot {
  display: inline-block;
  float: right;
  clear: right;
  opacity: 1;
}
.marketplace {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #6a628b;
  text-align: center;
}
.footer-link {
  margin: 20px;
  color: #333;
  font-size: 15px;
  font-weight: 300;
}
.marketplace-image {
  margin-bottom: 10px;
}
.hero-image-block {
  float: left;
}
.newnote-logo {
  opacity: 0.38;
}
.pricing {
  display: block;
  padding: 64px 44px;
  background-color: #e5e8eb;
  text-align: center;
}
.buttons-div-block {
  padding-top: 21px;
}
.hero-image {
  margin-top: 47px;
}
.content-block {
  display: inline-block;
  width: 529px;
  padding: 86px;
  border-radius: 4px;
  background-color: white;
  box-shadow: #c7c7c7 0px 1px 0px 0px;
}
.divider {
  height: 2px;
}
.data-text {
  font-family: Lato, sans-serif;
  font-weight: 300;
}
.cps {
  opacity: 0.44;
}
.newnote-brand {
  display: inline-block;
  margin-right: 0px;
}
@media (max-width: 991px) {
  .button.nav-button {
    margin-bottom: 15px;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .nav-link {
    color: #333;
  }
  .menu-button.w--open {
    background-color: #e5e8eb;
  }
  .nav-menu {
    background-color: #e5e8eb;
  }
  .content {
    height: 380px;
    padding-bottom: 18px;
    text-align: center;
  }
  .hero-text {
    margin-bottom: 9px;
  }
  .hero-div {
    margin-right: 17px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-image-block {
    margin-top: 0px;
    float: left;
  }
  .hero-image {
    margin-top: 22px;
  }
  .hero-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .button.hero-button {
    display: block;
    float: left;
  }
  .button.white-button {
    display: inline-block;
    float: left;
  }
  .navbar {
    margin-bottom: 37px;
    padding: 10px 25px;
  }
  .login {
    width: 529px;
  }
  .footer {
    position: static;
    border-top-style: none;
    text-align: center;
  }
  .footer.home {
    border-top-style: solid;
  }
  .content {
    height: 503px;
  }
  .hero-text {
    margin-top: 0px;
    margin-bottom: 24px;
    padding-left: 10px;
  }
  .hero-div {
    padding-right: 0px;
    padding-left: 10px;
  }
  ._3-features {
    margin-top: 19px;
    margin-bottom: 19px;
  }
  ._3-features-section {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .quote-text {
    font-size: 24px;
  }
  .main-features {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-link {
    display: block;
  }
  .hero-image-block {
    float: none;
  }
  .pricing {
    padding-right: 1px;
    padding-left: 1px;
  }
  .hero-image {
    margin-top: 30px;
  }
  .hero-container {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .button.hero-button {
    display: none;
  }
  .button.white-button {
    display: none;
  }
  .navbar {
    margin-bottom: 2px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #ab7e7e;
  }
  .login-section {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px;
  }
  .login {
    width: 100%;
    padding-right: 31px;
    padding-left: 31px;
  }
  .footer {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .smallfooter-links {
    margin-bottom: 10px;
  }
  .content {
    height: 500px;
  }
  .hero-text {
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
  }
  .hero-div {
    padding-right: 12px;
    padding-left: 12px;
  }
  ._3-features {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  ._3-features-section {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .online-ebook {
    padding-right: 14px;
    padding-left: 14px;
  }
  .grey-heading {
    text-align: center;
  }
  .text-block {
    text-align: center;
  }
  .main-features {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .hero-image-block {
    margin-top: 0px;
    float: none;
  }
  .pricing {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  .content-block {
    width: 81%;
    padding: 26px 22px;
  }
  .hero-container {
    text-align: center;
  }
}